<launch>

      <!-- treeview Dataset -->
      <!-- <arg  name="bag_file"  default="/media/tmn/mySataSSD2/KTH_treeview/tmn__2022-10-06-13-50-02.bag"/> <arg name="start_time" default="0"/> -->
      <arg  name="bag_file"  default="/media/tmn/mySataSSD2/KTH_treeview/tmn__2022-10-06-13-40-39.bag"/> <arg name="start_time" default="0"/>
            
      <!-- Run the livox to ouster converter -->
      <node pkg="treeview" type="treeview_node" name="treeview_node" respawn="false" output="log" required="true"> </node>

      <!--- Run Rviz-->
      <node pkg="rviz" type="rviz" name="rviz" respawn="true" output="log"
            args="-d $(find treeview)/launch/treeview.rviz" />

      <!-- Play the bag file -->
      <param name="/use_sim_time" value="true" />

      <node required="true" pkg="rosbag" type="play" name="rosbag_player"
            args="--clock $(arg bag_file) -r 1.0 -s $(arg start_time)"
            launch-prefix="bash -c 'sleep 1; $0 $@' "/>

      <node pkg="tf2_ros" type="static_transform_publisher" name="base2view" args="0 0 -50 0 -1.57079632679 0 livox_frame livox_downlooking"/>

</launch>
